form{
    /* center the form */
    margin: 0 auto;
    width: 700px;
    /* form outline */
    padding: 1em;
    border: 1px solid #DDDDDD;
    border-radies: 1em;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li{
    margin-top: 1em;
}

label{
    display: inline-block;
    width: 50px;
    text-align: right;
}

textarea{
    width:600px;
    box-sizing: border-box;
    border: 1px solid #999999;
    /* Align multiline text fields with their labels */
    vertical-align: top;
    /* provide space to type some text */
    height: 40%;
}

textarea:focus{
    /* highlight selected field */
    border-color: #000000;
}

.button{
    /* Align buttons with the text fields */
    padding-left: 50px; /* same size as the label elements */
}

button{
    /* provides same space as between labels and text fields */
    margin-left: 0.5em;
}